<div class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full z-50">
  <div class="relative top-20 mx-auto p-5 border w-full max-w-md shadow-lg rounded-md bg-white">
    <div class="flex flex-col gap-4">
      <div class="flex justify-between items-center">
        <h3 class="text-lg font-medium text-gray-900">Agregar Validador de Energía Cero</h3>
        <button 
          (click)="onClose.emit()"
          class="text-gray-400 hover:text-gray-500">
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <div class="space-y-4">
    

        <!-- Instrumento -->
        <div>
          <label for="instrument" class="block text-sm font-medium text-gray-700">
            Instrumento Utilizado
          </label>
          <input
            type="text"
            id="instrument"
            [(ngModel)]="validation.instrumentUsed"
            name="instrumentUsed"
            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-teal-500 focus:ring-teal-500 sm:text-sm"
            placeholder="Ej: Multímetro"
            required
          />
        </div>

        <!-- Valor de Energía -->
        <div class="mt-4">
          <label for="energyValue" class="block text-sm font-medium text-gray-700">
            Valor de Energía
          </label>
          <input
            type="number"
            id="energyValue"
            [(ngModel)]="validation.energyValue"
            name="energyValue"
            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-teal-500 focus:ring-teal-500 sm:text-sm"
            placeholder="0.0"
            required
          />
        </div>
      </div>

      <div class="flex justify-end gap-3 mt-4">
        <button
          (click)="cancel()"
          class="px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500">
          Cancelar
        </button>
        <button
          (click)="saveValidation()"
          class="px-4 py-2 text-sm font-medium text-white bg-teal-600 border border-transparent rounded-md hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
