pre{
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px; /* Ajusta el tamaño según tus necesidades */
    height: 32px; /* Igual al ancho para que sea un círculo perfecto */
    border-radius: 50%; /* Hace que el contenedor sea circular */
  }
  
  .icon-container i {
    font-size: 16px; /* Ajusta el tamaño del icono según tus necesidades */
  }

  button.expanded {
    @apply bg-teal-50;
    visibility: hidden;
  }

  .animate-ping {
    animation: ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
  }

  @keyframes ping {
    75%, 100% {
      transform: scale(2);
      opacity: 0;
    }
  }